.aside-tab {
    position: fixed;
    left: 0;
    top: 50px;
    width: 200px;
    height: calc(100vh - 50px);
    /* background: #d3d5d8; */
    /* Dark blue-gray */
    color: black;
    padding-top: 20px;
    /* box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1); */
    border-right: solid 1px rgb(221, 218, 218);
    overflow-y: auto;
    z-index: 10;
}

.aside-tab ul {
    list-style: none;
    padding: 0;
}

.aside-tab ul li {
    padding: 6px 20px;
}

.aside-tab ul li a {
    color: rgb(8, 6, 6);
    text-decoration: none;
    display: block;
    font-size: larger;
}

.aside-tab ul li a:hover {
    color: black;
}


.selectTemplate:hover{
    box-shadow: inset 0 -3em 3em rgba(249, 250, 249, 0.3),
    0.3em 0.3em 1em rgba(145, 143, 143, 0.6);;
}

/* Template Image Styling */
.template-img{
    width: 250px;
    height:300px;
}

.template-img-top{
    width: 500px;
    height: 300px;
}

@media (min-width: 400px) and (max-width:768px){
    .template-img{
        width: 500px;
        height: 400px;
    }
    .template-img-top{
        width: 500px;
        height: 400px;
    }
}

/* Email Styling */
.email-list {
    scrollbar-width: thin;
  }
  
  .email-list::-webkit-scrollbar {
    width: 4px;
  }
  
  .email-list::-webkit-scrollbar-thumb {
    background-color: #dee2e6;
    border-radius: 4px;
  }
  
  .template-body {
    background-color: #f8f9fa;
    border-radius: 4px;
  }

.email-container{
    max-width: 100%;
    overflow: hidden;
}

.email-list{
    font-size: 8px;
    text-align: justify;
    word-break: break-word;
    overflow-wrap: break-word;
}



@media (min-width: 768px) and (max-width:1400px){
    .email-list{
        font-size: 7px;
    }
}

/* Template actions responsive styling */
@media (min-width: 768px) and (max-width: 1000px){
    .template-actions{
        flex-direction: column;
        gap: 2px;
    }
}

@media (min-width: 768px) and (max-width:1400px){
    .email-analytics-container{
        height: 100vh;
    }
}