body{
  padding-top: 60px;
  overflow-x: hidden;
}
@media (min-width:768px) {
  .side-bar {
    left: 0 !important; 
  }
  .overlay {
    display:none;
  }
  .sidebar-toggle {
    display:none  !important;
  }
}
@media (max-width:767px) {
  .toggle-btn {
    display: block !important;
  }
}
@media(max-width:1375px)
{
  .side-bar{
    width: 150px;
  }
}
@media(max-width:845px)
{
  .side-bar{
    width: 140px;
  }
}
@media(min-width:1376px)
{
  .side-bar{
    width:230px;
  }
}