body{
  padding-top: 60px;
  overflow-x: hidden;
}
@media (min-width: 992px) {
  .side-bar {
    left: 0 !important; /* Keep it visible on large screens */
  }
  .overlay {
    display: none;
  }
  button {
    display: none;
  }
}